#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    format_tag_separator: " | ",
    multiple_tag_resolution_strategy: All,
    browser_column_widths: [20, 38, 42],
    
    // Cores base Gruvbox
    background_color: "#282828",
    modal_backdrop: true,
    text_color: "#ebdbb2",
    header_background_color: "#282828",
    modal_background_color: "#282828",
    
    preview_label_style: (fg: "#d3869b"), // Roxo Gruvbox
    preview_metadata_group_style: (fg: "#fabd2f"), // Amarelo Gruvbox
    song_table_album_separator: None,
    
    tab_bar: (
        active_style: (fg: "#282828", bg: "#fabd2f", modifiers: "Bold"),
        inactive_style: (fg: "#928374", bg: "#282828"),
    ),
    
    highlighted_item_style: (fg: "#282828", bg: "#fabd2f", modifiers: "Bold"),
    current_item_style: (fg: "#83a598", modifiers: "Bold"), // Azul Gruvbox
    borders_style: (fg: "#504945", modifiers: "Bold"),
    highlight_border_style: (fg: "#fabd2f"),
    
    symbols: (song: "󰎇 ", dir: "󰉋 ", playlist: "󰲸 ", marker: "󰒉 ", ellipsis: "󰇘",
        song_style: (fg: "#fabd2f"), song_highlighted_style: None, song_current_style: (fg: "#282828"),
        dir_style: (fg: "#fabd2f"), dir_highlighted_style: None, dir_current_style: (fg: "#282828"),
        playlist_style: (fg: "#fabd2f"), playlist_highlighted_style: None, playlist_current_style: (fg: "#282828"),
        marker_style: (fg: "#fe8019"), marker_highlighted_style: (fg: "#fe8019"), marker_current_style: (fg: "#282828", bg: "#fe8019" ),
    ),
    
    progress_bar: (
        symbols: ["", "█", "", "─", ""],
        track_style: (fg: "#504945", bg: "#282828"),
        elapsed_style: (fg: "#fabd2f", bg: "#282828"),
        thumb_style: (fg: "#fabd2f", bg: "#282828"),
        use_track_when_empty: false,
    ),
    
    scrollbar: (
        symbols: ["│", "█", "▴", "▾"],
        track_style: (fg: "#3c3836"),
        ends_style: (fg: "#a89984"),
        thumb_style: (fg: "#a89984"),
    ),
    
    song_table_format: [
        (
        prop: (kind: Transform(Replace(content: (kind: Sticker("rating")), replacements: [
            (match:  "0", replace: (kind: Group([(kind: Text("󰎡"),style: (fg: "#fabd2f"))]))),
            (match:  "1", replace: (kind: Group([(kind: Text("󰎤"),style: (fg: "#fabd2f"))]))),
            (match:  "2", replace: (kind: Group([(kind: Text("󰎧"),style: (fg: "#fabd2f"))]))),
            (match:  "3", replace: (kind: Group([(kind: Text("󰎪"),style: (fg: "#fabd2f"))]))),
            (match:  "4", replace: (kind: Group([(kind: Text("󰎭"),style: (fg: "#fabd2f"))]))),
            (match:  "5", replace: (kind: Group([(kind: Text("󰎱"),style: (fg: "#fabd2f"))]))),
            (match:  "6", replace: (kind: Group([(kind: Text("󰎳"),style: (fg: "#fabd2f"))]))),
            (match:  "7", replace: (kind: Group([(kind: Text("󰎶"),style: (fg: "#fabd2f"))]))),
            (match:  "8", replace: (kind: Group([(kind: Text("󰎹"),style: (fg: "#fabd2f"))]))),
            (match:  "9", replace: (kind: Group([(kind: Text("󰎼"),style: (fg: "#fabd2f"))]))),
            (match: "10", replace: (kind: Group([(kind: Text("󰽽"),style: (fg: "#fabd2f"))]))),
        ])), default: (kind: Text(""), style: (fg: "#928374"))),
        width: "3",
        label: "Rating",
        alignment: Center,
            label_prop: (kind: Group([
                (kind: Text("󰩳"), style: (fg: "#fabd2f")),
            ]))
        ),
        (
            prop: (kind: Sticker("playCount"),style: (fg: "#fabd2f"),
                 default: (kind: Text(""), style: (fg: "#928374"))),
            width: "3",
            alignment: Left,
            label: "Playcount",
            label_prop: (kind: Group([
                (kind: Text("󰆙"), style: (fg: "#fabd2f")),
            ]))
        ),
        (
            prop:(kind: Text("│"), style: (fg: "#504945")),
            width: "1",
            alignment: Center,
            label: "",
            label_prop: (kind: Group([
                (kind: Text("│"), style: (fg: "#504945")),
            ]))
        ),
        (
            prop: (kind: Property(Artist), style: (fg: "#fabd2f"),
                default: (kind: Text("Unknown Artist"), style: (fg: "#d3869b"))),
            width: "23%",
            label_prop: (kind: Group([
                (kind: Text("Artist "), style: (fg: "#ebdbb2")),
                (kind: Text(""), style: (fg: "#fabd2f"))
            ]))
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#83a598"),
                default: (kind: Property(Filename), style: (fg: "#ebdbb2"),
                    default: (kind: Text("Unknown Title"), style: (fg: "#ebdbb2")))),
            width: "36%",
            label_prop: (kind: Group([
                (kind: Text("Title "), style: (fg: "#ebdbb2")),
                (kind: Text(""), style: (fg: "#fabd2f"))
            ]))
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#fabd2f"),
                default: (kind: Text("Unknown Album"), style: (fg: "#d3869b"))),
            width: "33%",
            label_prop: (kind: Group([
                (kind: Text("Album "), style: (fg: "#ebdbb2")),
                (kind: Text("󰀥"), style: (fg: "#fabd2f"))
            ]))
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "#83a598"),
                default: (kind: Text("-"))),
            width: "8%",
            alignment: Right,
            label_prop: (kind: Group([
                (kind: Text("Length "), style: (fg: "#ebdbb2")),
                (kind: Text(" "), style: (fg: "#fabd2f"))
            ]))
        ),
    ],
    
    layout: Split(
        direction: Vertical, panes: [
            (size: "7", borders: "NONE", pane: Component("header")),
            (size: "100%", borders: "NONE", pane: Pane(TabContent)),
            (size: "3", borders: "NONE", pane: Component("progress_bar")),
        ]),
        
    browser_song_format: [
        (kind: Group([
                    (kind: Property(Track)),
                    (kind: Text(" ")),
                ])),
        (kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title)),
                ]), default: (kind: Property(Filename)))
    ],
    
    level_styles: (
        info:  (fg: "#b8bb26", bg: "#282828"),
        warn:  (fg: "#fe8019", bg: "#282828"),
        error: (fg: "#fb4934", bg: "#282828"),
        debug: (fg: "#d65d0e", bg: "#282828"),
        trace: (fg: "#d3869b", bg: "#282828"),
    ),
    
    components: {
        "header_tab_bar": Split(direction: Horizontal, panes: [
                    (size: "11%", borders: "NONE", pane: Component("tab_bar_left")),
                    (size: "78%", borders: "NONE", pane: Pane(Tabs)),
                    (size: "11%", borders: "NONE", pane: Component("tab_bar_right")),
            ]),
        "header_line_1": Split(direction: Horizontal, panes: [
                            (size: "22%", pane: Component("header_element_1")),
                            (size: "1", pane: Component("header_element_space")),
                            (size: "56%", pane: Component("header_element_2")),
                            (size: "1", pane: Component("header_element_space")),
                            (size: "22%", pane: Component("header_element_3")),
                            (size: "2", pane: Component("header_element_right_end")),
            ]),
        "header_line_2": Split(direction: Horizontal, panes: [
                            (size: "22%", pane: Component("header_element_4")),
                            (size: "1", pane: Component("header_element_space")),
                            (size: "56%", pane: Component("header_element_5")),
                            (size: "1", pane: Component("header_element_space")),
                            (size: "22%", pane: Component("header_element_6")),
                            (size: "2", pane: Component("header_element_right_end")),
            ]),
        "header_line_3": Split(direction: Horizontal, panes: [
                            (size: "25%", pane: Component("header_element_7")),
                            (size: "1", pane: Component("header_element_space")),
                            (size: "50%", pane: Component("header_element_8")),
                            (size: "1", pane: Component("header_element_space")),
                            (size: "25%", pane: Component("header_element_9")),
                            (size: "2", pane: Component("header_element_right_end")),

            ]),
        "header": Split(
            direction: Vertical, panes: [
                (size: "2", borders: "TOP | RIGHT | LEFT", border_symbols: Plain,
                    pane: Split(direction: Horizontal, panes: [
                        (size: "100%", borders: "NONE", pane: Component("header_tab_bar")),
                  ])
                ),
                (size: "5", borders: "ALL", border_symbols: Library("straight_collapsed_top"),
                  pane: Split(direction: Vertical, panes: [
                     (size: "100%", borders: "NONE", pane: Component("header_line_1")),
                     (size: "100%", borders: "NONE", pane: Component("header_line_2")),
                     (size: "100%", borders: "NONE", pane: Component("header_line_3")),
                  ])
                ),
            ]
        ),
        "progress_bar": Split(
            direction: Vertical, panes: [
              (size: "3", borders: "ALL", border_symbols: Plain ,
                  border_title: [
                         (kind: Property(Status(Elapsed)),style: (fg: "#ebdbb2")),
                         (kind: Property(Status(StateV2(playing_label: "─󱦟─", paused_label: "  ", stopped_label: "  "))),
                             style: (fg: "#fabd2f", modifiers: "Bold")),
                         (kind: Property(Status(Duration)),style: (fg: "#ebdbb2")),
                      ],
                  border_title_position: Top,
                  border_title_alignment: Center,
                  pane: Split(direction: Vertical, panes: [
                      (size: "100%", borders: "NONE",pane: Pane(ProgressBar)),
                ])
              ),
            ]
        ),
        "tab_bar_left": Split(direction: Horizontal, panes: [
             (size: "100%", pane: Pane(Property(content: [
                             (kind: Text(" "), style: (fg: "#fabd2f", modifiers: "Bold")),
                             (kind: Property(Status(StateV2(playing_label: "", paused_label: "", stopped_label: ""))),
                                 style: (fg: "#ebdbb2")),
                             (kind: Text("  "), style: (fg: "#fabd2f", modifiers: "Bold")),
                             (kind: Property(Song(FileExtension)), style: (fg: "#928374")),
                             (kind: Text(" ")),
                             (kind: Property(Widget(ScanStatus)), style: (fg: "#ebdbb2", modifiers: "Bold")),
                             (kind: Text(" ")),
                             (kind: Property(Status(InputBuffer())), style: (fg: "#928374")),
                         ], align: Left))
             ),
            ]),
        "tab_bar_right": Split(direction: Horizontal, panes: [
                 (size: "100%", pane: Pane(Property(content: [
                                 (kind: Transform(Replace(content: (kind: Property(Status(Partition)), style: (fg: "#928374")), replacements: [
                                     (match:  "default", replace: (kind: Group([(kind: Text(""))]))),
                                   ]))),
                                 (kind: Text(" ")),
                                 (kind: Property(Song(Channels())), style: (fg: "#928374"),
                                     default: (kind: Text("0"), style: (fg: "#928374"))),
                                 (kind: Text(" 󱡫 "),style: (fg: "#928374")),
                                 (kind: Text(" 󱡬"), style: (fg: "#fabd2f", modifiers: "Bold")),
                                 (kind: Property(Status(Volume)), style: (fg: "#ebdbb2")),
                                 (kind: Text("% "), style: (fg: "#fabd2f", modifiers: "Bold"))
                             ], align: Right))
                 ),
            ]),
        "header_element_1": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                               (kind: Text("[ "),style: (fg: "#fabd2f", modifiers: "Bold")),
                               (kind: Property(Status(Elapsed)),style: (fg: "#ebdbb2")),
                               (kind: Text(" / "),style: (fg: "#fabd2f", modifiers: "Bold")),
                               (kind: Property(Status(Duration)),style: (fg: "#ebdbb2")),
                               (kind: Text(" 󱦟"),style: (fg: "#fabd2f", modifiers: "Bold")),
                               (kind: Text(" ]"),style: (fg: "#fabd2f", modifiers: "Bold")),
                           ], align: Left))
               ),
            ]
        ),
        "header_element_2": Split(
            direction: Horizontal,
            panes: [
                (size: "100%", pane: Pane(Property(content: [
                                (kind: Property(Song(Title)), style: (fg: "#ebdbb2",modifiers: "Bold"),
                                    default: (kind: Property(Song(Filename)), style: (fg: "#ebdbb2",modifiers: "Bold"),
                                        default: (kind: Text("Unknown Title"), style: (fg: "#ebdbb2",modifiers: "Bold"))))
                            ], align: Center, scroll_speed: 6))
                ),
            ]
        ),
        "header_element_3": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                         (kind: Text("[ "),style: (fg: "#fabd2f", modifiers: "Bold")),
                         (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
                                         on_style: (fg: "#ebdbb2", modifiers: "Bold"),
                                         off_style: (fg: "#928374", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "#fabd2f", modifiers: "Bold")),
                         (kind: Property(Status(RandomV2(on_label: "", off_label: "",
                                         on_style: (fg: "#ebdbb2", modifiers: "Bold"),
                                         off_style: (fg: "#928374", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "#fabd2f", modifiers: "Bold")),
                         (kind: Property(Status(ConsumeV2(on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯󰇊",
                                         on_style: (fg: "#ebdbb2", modifiers: "Bold"),
                                         off_style: (fg: "#928374", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "#fabd2f", modifiers: "Bold")),
                         (kind: Property(Status(SingleV2(on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
                                         on_style: (fg: "#ebdbb2", modifiers: "Bold"),
                                         off_style: (fg: "#928374", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "#fabd2f", modifiers: "Bold")),
                         (kind: Property(Status(Crossfade)),style: (fg: "#928374"),
                          default: (kind: Text("󰴽"), style: (fg: "#928374"))),
                         (kind: Text(" | "),style: (fg: "#fabd2f", modifiers: "Bold")),
                         (kind: Transform(Replace(content: (kind: Property(Status(InputMode()))), replacements: [
                                 (match:  "Normal", replace: (kind: Group([(kind: Text("N"),style: (fg: "#928374", modifiers: "Bold"))]))),
                                 (match:  "Insert", replace: (kind: Group([(kind: Text("I"),style: (fg: "#ebdbb2", modifiers: "Bold"))]))),
                             ]))),
                     ], align: Right))
               ),
            ]
        ),
        "header_element_4": Split(
            direction: Horizontal,
            panes: [
                (size: "100%", pane: Pane(Property(content: [
                                (kind: Text("[ "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                (kind: Property(Song(Bits())),default: (kind: Text(" "), style: (fg: "#ebdbb2")), style: (fg: "#ebdbb2")),
                                (kind: Text(" bit"),style: (fg: "#fabd2f")),
                                (kind: Text(" | "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                (kind: Property(Status(Bitrate)),default: (kind: Text(" "), style: (fg: "#ebdbb2")),style: (fg: "#ebdbb2")),
                                (kind: Text(" kbps"),style: (fg: "#fabd2f")),
                                (kind: Text(" ]"),style: (fg: "#fabd2f", modifiers: "Bold"))
                            ], align: Left))
                ),
            ]
        ),
        "header_element_5": Split(
            direction: Horizontal,
            panes: [
                 (size: "100%", pane: Pane(Property(content: [
                                 (kind: Transform(Replace(content:
                                     (kind: Property(Song(Artist)), style: (fg: "#83a598"),
                                         default: (kind: Text("Unknown Artist"), style: (fg: "#83a598"))),
                                   replacements: [
                                     (match:  "", replace: (kind: Group([(kind: Text("Unknown Artist"), style: (fg: "#83a598"))]))),
                                   ]))),
                                 (kind: Text(" - "), style: (fg: "#ebdbb2")),
                                 (kind: Transform(Replace(content:
                                    (kind: Property(Song(Album)),style: (fg: "#fabd2f" ),
                                        default: (kind: Text("Unknown Album"), style: (fg: "#fabd2f"))),
                                   replacements: [
                                     (match:  "", replace: (kind: Group([(kind: Text("Unknown Album"), style: (fg: "#fabd2f"))]))),
                                   ]))),
                             ], align: Center, scroll_speed: 6))
                 ),
            ]
        ),
        "header_element_6": Split(
            direction: Horizontal,
            panes: [
                 (size: "100%", pane: Pane(Property(content: [
                                 (kind: Text("[ "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                 (kind: Property(Status(QueueTimeRemaining(separator: " "))),style: (fg: "#ebdbb2")),
                                 (kind: Text(" / "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                 (kind: Property(Status(QueueTimeTotal(separator: " "))),style: (fg: "#ebdbb2")),
                                 (kind: Text(" 󱎫"),style: (fg: "#fabd2f", modifiers: "Bold")),
                             ], align: Right))
                 ),
            ]
        ),
        "header_element_7": Split(
            direction: Horizontal,
            panes: [
                  (size: "100%", pane: Pane(Property(content: [
                                  (kind: Text("[ "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                  (kind: Property(Song(SampleRate())),default: (kind: Text(" "), style: (fg: "#ebdbb2")), style: (fg: "#ebdbb2")),
                                  (kind: Text(" Hz"),style: (fg: "#fabd2f")),
                                  (kind: Text(" | "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                  (kind: Property(Song(Position)), style: (fg: "#ebdbb2"),
                                      default: (kind: Text("0"), style: (fg: "#ebdbb2"))),
                                  (kind: Text(" / "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                  (kind: Property(Status(QueueLength())),style: (fg: "#ebdbb2")),
                                  (kind: Text(" 󰴍"),style: (fg: "#fabd2f", modifiers: "Bold")),
                                  (kind: Text(" ]"),style: (fg: "#fabd2f", modifiers: "Bold"))
                              ], align: Left))
                  ),
            ]
        ),
        "header_element_8": Split(
            direction: Horizontal,
            panes: [
                   (size: "100%", pane: Pane(Property(content: [
                                   (kind: Transform(Replace(content:
                                       (kind: Property(Song(Other("albumartist"))),style: (fg: "#928374"),
                                           default: (kind: Text("Unknown Albumartist"), style: (fg: "#928374"))),
                                   replacements: [
                                     (match:  "", replace: (kind: Group([(kind: Text("Unknown Albumartist"), style: (fg: "#928374"))]))),
                                   ]))),
                                   (kind: Text(" - "), style: (fg: "#928374")),
                                   (kind: Transform(Replace(content:
                                       (kind: Property(Song(Other("composer"))),style: (fg: "#928374"),
                                           default: (kind: Text("Unknown Composer"), style: (fg: "#928374"))),
                                   replacements: [
                                     (match:  "", replace: (kind: Group([(kind: Text("Unknown Composer"), style: (fg: "#928374"))]))),
                                   ]))),
                               ], align: Center, scroll_speed: 6))
                   ),
            ]
        ),
        "header_element_9": Split(
            direction: Horizontal,
            panes: [
                   (size: "100%", pane: Pane(Property(content: [
                                   (kind: Text("[ "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                   (kind: Transform(Replace(content:
                                       (kind: Property(Song(Other("date"))),style: (fg: "#ebdbb2"),
                                           default: (kind: Text("Unknown Date"), style: (fg: "#928374"))),
                                   replacements: [
                                     (match:  "", replace: (kind: Group([(kind: Text("Unknown Date"), style: (fg: "#928374"))]))),
                                   ]))),
                                   (kind: Text(" | "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                   (kind: Transform(Replace(content:
                                       (kind: Property(Song(Track)),style: (fg: "#ebdbb2"),
                                           default: (kind: Text("0"), style: (fg: "#928374"))),
                                   replacements: [
                                     (match:  "", replace: (kind: Group([(kind: Text("0"), style: (fg: "#928374"))]))),
                                   ]))),
                                   (kind: Text(" / "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                   (kind: Transform(Replace(content:
                                       (kind: Property(Song(Disc)),style: (fg: "#ebdbb2"),
                                           default: (kind: Text("0"), style: (fg: "#928374"))),
                                   replacements: [
                                     (match:  "", replace: (kind: Group([(kind: Text("0"), style: (fg: "#928374"))]))),
                                   ]))),
                                   (kind: Text(" 󰥠 | "),style: (fg: "#fabd2f", modifiers: "Bold")),
                                   (kind: Transform(Replace(content:
                                       (kind: Property(Song(Other("genre"))),style: (fg: "#ebdbb2"),
                                           default: (kind: Text("Unknown Genre"), style: (fg: "#928374"))),
                                   replacements: [
                                     (match:  "", replace: (kind: Group([(kind: Text("Unknown Genre"), style: (fg: "#928374"))]))),
                                   ]))),
                               ], align: Right))
                   ),
            ]
        ),
        "header_element_right_end": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                               (kind: Text(" ]"),style: (fg: "#fabd2f", modifiers: "Bold")),
                           ], align: Right))
               ),
            ]
        ),
        "header_element_space": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                               (kind: Text(" ")),
                           ], align: Right))
               ),
            ]
        ),
    },
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        bar_width: 1, bar_spacing: 1,
        bg_color: "#282828",
        bar_color: Gradient({
                0:   "#cc241d", // Vermelho
                33:  "#d65d0e", // Laranja
                67:  "#fabd2f", // Amarelo
                100: "#b8bb26", // Verde
            })
    ),
    lyrics:(
        timestamp: false,
        alignment: Center,
    ),
    border_symbol_sets: {
    "straight_collapsed_top": (
        parent: Plain, // Substitui Rounded por Plain para linhas retas/quadradas
        top_left: "├",
        top_right: "┤",
        ),
    },
)
